header {
    top: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 1.5em;
    color: white;
    background:    -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.1, #4b6cb7), color-stop(0.9, #182848));
    background:    -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background:    -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);      
    background:    -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    background:    linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* FF3.6+ */ /* IE10 */ /* Opera 11.10+ */ /* W3C */
    margin-bottom: 1em;
    border-radius: 1%;
    position: relative;
}   

#shape {
    width: 280px;
	height: 280px;
	background: #1e90ff;
	-webkit-clip-path: polygon(100% 0, 100% 10%, 13% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 10%, 13% 100%, 0% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px;
    max-height: 100px;
}

#shape2 {
    width: 280px;
	height: 280px;
	background: #1e90ff;
	-webkit-clip-path: polygon(100% 0, 100% 10%, 13% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 10%, 13% 100%, 0% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 150px;
    max-height: 150px;

}

#shape3 {
    width: 280px;
	height: 280px;
	background: #1e90ff;
	-webkit-clip-path: polygon(100% 100%, 90% 100%, 0 9%, 0 0);
    clip-path: polygon(100% 100%, 90% 100%, 0 9%, 0 0);
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100px;
    max-height: 100px;

}

#shape4 {
    width: 280px;
	height: 280px;
	background: #1e90ff;
	-webkit-clip-path: polygon(100% 100%, 90% 100%, 0 9%, 0 0);
    clip-path: polygon(100% 100%, 90% 100%, 0 9%, 0 0);
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 150px;
    max-height: 150px;
}

#flex {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    border-radius: 5%;
    width: 200px;
    max-height: 200px;
    position: relative;
}

.click img {
    width: 300px;
}

body {
    font-family: sans-serif;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: -0.1em;
    opactiy: 0;
}

a {
    text-decoration: none;
    color: black;
}

#tag {
    border: solid 3px;
    border-radius: 5%;
    padding: 1em;
    max-width: 450px;
    display: block;
    margin: 1em auto 1em auto;
    font-family: 'Monaco';
    margin-bottom: 2em;
}


.work {
    margin: auto;
    text-align: center;
    margin-top: 3em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}

.work div {
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-width: medium;
    border-radius: 5%;
    box-shadow: 1px 5px 5px black;
    margin: 0.25em;
    width: 200px;
}

.work i {
    font-size: 4em;
    padding: 0.2em;
}

p {
    text-align: center;
}

.about {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3em;
}

.about img {
    max-width: 200px;
}


#dog {
    box-sizing: border-box;
    margin-top: 50px;
    
}

#dot {
    box-sizing: border-box;
    margin-top: 10px;
}

footer ul {
    margin: auto;
    text-align: center;
    margin-bottom: -2em;
}

footer li {
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 20px;
}

footer img {
    max-width: 250px;
    display: block;
    margin: auto;
    border-radius: 10%;
}

footer #tag {
    margin-bottom: 0;
}

@media screen and (max-width: 300px) {
    footer img {max-width: 150px;}
    footer i {width: 20px;}
    ul {display: inline;}
}
